name: Run tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test-code:
    uses: ./.github/workflows/_tests.yaml
  test-docker:
    uses: ./.github/workflows/_docker.yaml
    with:
      ref: ${{ github.ref }}
      publish: false
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
