name: Release

on:
  workflow_dispatch: {}

jobs:
  test:
    name: Test code
    uses: ./.github/workflows/_tests.yaml

  release:
    name: Release new version

    runs-on: ubuntu-latest
    container: node:18.19.1-bullseye-slim

    needs: test

    permissions:
      contents: write
      issues: write
      pull-requests: write

    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}

    steps:
      - name: Install git :)
        run: apt update && apt install -y git

      - uses: actions/checkout@v4

      - name: Change directory ownership to the node user
        run: chown -R node:node .

      - name: Mark the working directory as safe
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Build
        run: su node -c 'npm install && npm run build && npm exec husky uninstall'

      - name: Prune dev dependencies
        run: su node -c 'npm install --omit=dev --omit=optional'

      - name: Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/git
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: release

    if: needs.release.outputs.new_release_published == 'true'

    uses: ./.github/workflows/_docker.yaml
    with:
      ref: v${{ needs.release.outputs.new_release_version }}
      publish: true
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
